:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #ff9919;
  --secondary-color: #0e0f11;
}

.primaryColor {
  color: var(--primary-color);
}

.secundaryColor {
  color: var(--secondary-color);
}

.backgroundColorPrimary {
  background-color: var(--primary-color);
}

.backgroundColorSecundary {
  background-color: var(--secondary-color);
}

.btnPrimary {
  background-color: var(--primary-color);
  color: white !important;
}

.btnSecundary {
  border: thin solid var(--secondary-color);
  color: var(--secondary-color);
}